---
services:
  pihole:
    image: pihole/pihole:2024.07.0
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8079:80/tcp"
    environment:
      TZ: "{{TZ}}"
      WEBPASSWORD: "{{ pihole_password }}"
      PIHOLE_DNS_: "9.9.9.9;1.1.1.1"
      DNSMASQ_LISTENING: "all" #if using swarm this env variable will allow DNS to work over overlay and bridge networks.
    networks:
      - container-swarm-network
    volumes:
      - '/mnt/pihole-dns/pihole:/etc/pihole'
      - '/mnt/pihole-dns/dnsmasq.d:/etc/dnsmasq.d'
    restart: unless-stopped
    
networks:
  container-swarm-network:
    external: true
