---
services:
  nginx:
    image: 'nginx'
    networks:
      - container-swarm-network
    restart: unless-stopped
    ports:
      - '80:80'
    environment:
      DISABLE_IPV6: 'true'
    volumes:
      - "/mnt/nginx-lb:/etc/nginx:ro"

networks:
  container-swarm-network:
    external: true
