worker_processes 4;
worker_rlimit_nofile 40000;

events {
    worker_connections 8192;
}

stream {
    upstream rancher_servers_http {
        least_conn;
        server {{ downstream_nodes[0] }}:80 max_fails=3 fail_timeout=5s;
        server {{ downstream_nodes[1] }}:80 max_fails=3 fail_timeout=5s;
        server {{ downstream_nodes[2] }}:80 max_fails=3 fail_timeout=5s;
    }
    server {
        listen 80;
        proxy_pass rancher_servers_http;
    }
}

http {
    map $host $upstream_name {
        hostnames;
        default rancher_servers_https;  # Default backend if no match

        {{ downstream_hostname_public }} rancher_servers_https;
        {{ downstream_hostname_internal }} rancher_servers_https;  # Added internal host
    }

    upstream rancher_servers_https {
        least_conn;
        server {{ downstream_nodes[0] }}:443 max_fails=3 fail_timeout=5s;
        server {{ downstream_nodes[1] }}:443 max_fails=3 fail_timeout=5s;
        server {{ downstream_nodes[2] }}:443 max_fails=3 fail_timeout=5s;
    }
    
    server {
        listen 443 ssl;
        server_name *.{{ downstream_hostname_public }} {{ downstream_hostname_public }} {{ downstream_hostname_internal }};  # Added internal host

        ssl_certificate /etc/nginx/certs/tls.crt;
        ssl_certificate_key /etc/nginx/certs/key.key;

        location / {
            proxy_pass https://$upstream_name;
            proxy_set_header Host $host;
            proxy_ssl_server_name on;
            proxy_ssl_name $host;
        }
    }
}
